body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  color: #333;
}

.top-bar {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #3F2296;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  margin-left: auto;
}

.menu-item {
  cursor: pointer;
  color: #666;
  font-weight: 500;
  margin-left: 1rem;
}
